<div class="row m-3">
  <div class="col">
    <h3>EggTimer</h3>
    <ol class="list-group list-group-numbered">
      <li>Counts down in 1 second steps from 2 minutes to 0</li>
      <li>Displayes time in format 01:23</li>
      <li>Has start functionality</li>
      <li>Has stop and reset functionality</li>
      <li>Has pauze, reset and resume functionality</li>
      <li>Gives sound when 0 is reached</li>
      <li>Has UI that is pleasing to the eye</li>
    </ol>
    <p class="fst-italic">
      Disclaimer: Using this timer will not result to a hard boiled egg. Nor a
      soft boiled egg, for that matter.
    </p>
  </div>
</div>

<div class="row m-4">
  <div class="flex-container">
    <div class="btn-flex-container">
      <button
        *ngIf="shouldStartBtnBeShown" (click)="startCountdown()" class="btn btn-primary m-1">
        <div *ngIf="!shouldResumeTxtBeShown">
          <i class="bi bi-hourglass-top"></i>Start
        </div>
        <div *ngIf="shouldResumeTxtBeShown">
          <i class="bi bi-hourglass-split"></i>Resume
        </div>
      </button>
      <button *ngIf="!shouldStartBtnBeShown" (click)="stopCountdown()" class="btn btn-primary m-1">
        <i class="bi bi-x-circle"></i>
        Stop
      </button>
      <button *ngIf="shouldResetBtnBeShown" (click)="resetTimer()" class="btn btn-primary m-1">
        <i class="bi bi-arrow-counterclockwise"></i>Reset
      </button>
    </div>
    <div class="time-digits">
      {{ numberOfMinutes | number: "2.0" }}:{{ numberOfSeconds | number: "2.0" }}
    </div>
  </div>
</div>
